In [1]:
import pandas as pd

vc = pd.read_csv('../Data/vehicle_collisions.csv')

In [10]:
vc

,UNIQUE KEY,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,VEHICLE 1 TYPE,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE,VEHICLE 1 FACTOR,VEHICLE 2 FACTOR,VEHICLE 3 FACTOR,VEHICLE 4 FACTOR,VEHICLE 5 FACTOR
0,3146911,1/1/15,0:20,QUEENS,11358.0,40.751847,-73.787862,"(40.7518471, -73.787862)",47 AVENUE,193 STREET,...,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN,TRAFFIC CONTROL DISREGARDED,NaN,NaN,NaN,NaN
1,3146180,1/1/15,0:20,NaN,NaN,40.771289,-73.946693,"(40.7712888, -73.9466928)",NaN,NaN,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,ANIMALS ACTION,NaN,NaN,NaN,NaN
2,3146384,1/1/15,0:21,BROOKLYN,11205.0,40.689445,-73.955121,"(40.6894449, -73.9551212)",BEDFORD AVENUE,LAFAYETTE AVENUE,...,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,FATIGUED/DROWSY,UNSPECIFIED,NaN,NaN,NaN
3,3146013,1/1/15,0:30,BROOKLYN,11213.0,40.673845,-73.925080,"(40.6738445, -73.9250801)",BUFFALO AVENUE,SAINT MARKS AVENUE,...,BUS,PASSENGER VEHICLE,NaN,NaN,NaN,LOST CONSCIOUSNESS,NaN,NaN,NaN,NaN
4,3146120,1/1/15,0:33,NaN,NaN,NaN,NaN,NaN,RICHMOND TERRACE,SOUTH AVENUE,...,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
5,3145968,1/1/15,0:51,BROOKLYN,11203.0,40.656684,-73.929896,"(40.6566844, -73.9298964)",CLARKSON AVENUE,EAST 51 STREET,...,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,NaN,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,NaN
6,3146102,1/1/15,10:00,QUEENS,11105.0,40.776519,-73.915920,"(40.7765195, -73.91592)",26 STREET,23 AVENUE,...,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,NaN,NaN,ALCOHOL INVOLVEMENT,UNSPECIFIED,UNSPECIFIED,NaN,NaN
7,3146344,1/1/15,10:05,BROOKLYN,11203.0,40.657281,-73.947354,"(40.6572811, -73.9473543)",WINTHROP STREET,NEW YORK AVENUE,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,FATIGUED/DROWSY,UNSPECIFIED,NaN,NaN,NaN
8,3145900,1/1/15,10:06,MANHATTAN,10024.0,40.787223,-73.967926,"(40.7872228, -73.9679255)",WEST 89 STREET,CENTRAL PARK WEST,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN
9,3145960,1/1/15,10:10,BROOKLYN,11223.0,40.593323,-73.964638,"(40.5933231, -73.9646376)",OCEAN PARKWAY,AVENUE W,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
10,3145881,1/1/15,10:15,MANHATTAN,10036.0,40.762184,-73.993611,"(40.7621841, -73.9936106)",10 AVENUE,WEST 46 STREET,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
11,3145986,1/1/15,10:30,BROOKLYN,11225.0,40.666261,-73.959563,"(40.6662615, -73.9595633)",MONTGOMERY STREET,FRANKLIN AVENUE,...,SPORT UTILITY/STATION WAGON,UNKNOWN,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
12,3146152,1/1/15,10:30,MANHATTAN,10018.0,40.756489,-73.997759,"(40.7564889, -73.9977585)",10 AVENUE,WEST 37 STREET,...,TAXI,PASSENGER VEHICLE,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,OTHER VEHICULAR,NaN,NaN,NaN
13,3146083,1/1/15,10:30,QUEENS,11354.0,40.769353,-73.832577,"(40.7693526, -73.8325765)",LINDEN PLACE,31 ROAD,...,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
14,3146907,1/1/15,10:36,QUEENS,11368.0,40.740039,-73.852880,"(40.740039, -73.8528801)",WESTSIDE AVENUE,VANDOREN STREET,...,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
15,3146379,1/1/15,11:00,BROOKLYN,11216.0,40.679337,-73.944049,"(40.6793366, -73.9440488)",HERKIMER STREET,BROOKLYN AVENUE,...,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
16,3145969,1/1/15,11:14,BROOKLYN,11212.0,40.658183,-73.924644,"(40.6581825, -73.9246436)",EAST 91 STREET,CLARKSON AVENUE,...,TAXI,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NaN,NaN,NaN
17,3145897,1/1/15,11:15,MANHATTAN,10065.0,40.760857,-73.961069,"(40.7608574, -73.9610689)",EAST 61 STREET,1 AVENUE,...,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN,OTHER VEHICULAR,OTHER VEHICULAR,NaN,NaN,NaN
18,3146046,1/1/15,11:20,QUEENS,11419.0,40.689710,-73.826856,"(40.6897104, -73.8268556)",101 AVENUE,118 STREET,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
19,3147994,1/1/15,11:24,MANHATTAN,10031.0,40.823120,-73.950497,"(40.8231203, -73.9504966)",WEST 141 STREET,HAMILTON PLACE,...,VAN,UNKNOWN,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
20,3146493,1/1/15,11:30,QUEENS,11101.0,40.746035,-73.934400,"(40.7460347, -73.9344002)",QUEENS BOULEVARD,SKILLMAN AVENUE,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
21,3146456,1/1/15,11:30,NaN,NaN,NaN,NaN,NaN,UNION TURNPIKE,WOODHAVEN BOULEVARD,...,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN
22,3145971,1/1/15,11:37,BROOKLYN,11203.0,40.652464,-73.922848,"(40.6524639, -73.9228481)",KINGS HIGHWAY,CHURCH AVENUE,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,TURNING IMPROPERLY,UNSPECIFIED,NaN,NaN,NaN
23,3146219,1/1/15,11:50,NaN,NaN,NaN,NaN,NaN,MORNINGSIDE AVENUE,WEST 125 STREET,...,SPORT UTILITY/STATION WAGON,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
24,3146111,1/1/15,11:52,QUEENS,11105.0,40.777462,-73.903094,"(40.7774619, -73.9030938)",20 AVENUE,37 STREET,...,SPORT UTILITY/STATION WAGON,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,PRESCRIPTION MEDICATION,UNSPECIFIED,NaN,NaN,NaN
25,3145959,1/1/15,12:00,BROOKLYN,11229.0,40.595396,-73.945775,"(40.5953963, -73.9457755)",BEDFORD AVENUE,AVENUE W,...,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NaN,NaN,NaN
26,3146864,1/1/15,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN,TRAFFIC CONTROL DISREGARDED,UNSPECIFIED,NaN,NaN,NaN
27,3145945,1/1/15,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NaN,NaN,NaN
28,3146383,1/1/15,12:00,BROOKLYN,11205.0,40.689445,-73.955121,"(40.6894449, -73.9551212)",BEDFORD AVENUE,LAFAYETTE AVENUE,...,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
29,3145997,1/1/15,12:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477702,3623575,2/28/17,9:00,QUEENS,11375.0,40.721450,-73.843990,"(40.72145, -73.84399)",QUEENS BOULEVARD,71 AVENUE,...,SPORT UTILITY/STATION WAGON,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,FOLLOWING TOO CLOSELY,UNSPECIFIED,NaN,NaN,NaN
477703,3623270,2/28/17,9:00,NaN,NaN,40.772800,-73.778870,"(40.7728, -73.77887)",210 STREET,NaN,...,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NaN,NaN,NaN
477704,3623428,2/28/17,9:00,NaN,NaN,40.602592,-73.749690,"(40.602592, -73.74969)",CORNAGA AVENUE,MOTT AVENUE,...,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NaN,NaN,NaN
477705,3623572,2/28/17,9:00,NaN,NaN,40.665510,-73.992775,"(40.66551, -73.992775)",PROSPECT AVENUE,NaN,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN
477706,3623293,2/28/17,9:00,NaN,NaN,40.771477,-73.918240,"(40.771477, -73.91824)",HOYT AVENUE NORTH,NaN,...,SPORT UTILITY/STATION WAGON,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,FOLLOWING TOO CLOSELY,UNSPECIFIED,UNSPECIFIED,NaN,NaN
477707,3623380,2/28/17,9:00,NaN,NaN,40.847996,-73.934700,"(40.847996, -73.9347)",SAINT NICHOLAS AVENUE,NaN,...,BICYCLE,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
477708,3624185,2/28/17,9:00,NaN,NaN,40.700195,-73.797560,"(40.700195, -73.79756)",LIBERTY AVENUE,NaN,...,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,FOLLOWING TOO CLOSELY,UNSPECIFIED,NaN,NaN,NaN
477709,3624415,2/28/17,9:05,MANHATTAN,10029.0,40.789623,-73.940070,"(40.789623, -73.94007)",1 AVENUE,EAST 106 STREET,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NaN,NaN,NaN
477710,3623564,2/28/17,9:08,NaN,NaN,40.813374,-73.956276,"(40.813374, -73.956276)",WEST 125 STREET,NaN,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN
477711,3623976,2/28/17,9:10,MANHATTAN,10033.0,40.848705,-73.940200,"(40.848705, -73.9402)",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
477712,3624334,2/28/17,9:15,BROOKLYN,11223.0,40.591183,-73.974075,"(40.591183, -73.974075)",NaN,NaN,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
477713,3624057,2/28/17,9:17,BRONX,10461.0,40.845085,-73.844630,"(40.845085, -73.84463)",NaN,NaN,...,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,ILLNESS,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED
477714,3623350,2/28/17,9:20,BRONX,10475.0,40.884647,-73.826620,"(40.884647, -73.82662)",HOLLERS AVENUE,CONNER STREET,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,DRIVER INATTENTION/DISTRACTION,NaN,NaN,NaN
477715,3623329,2/28/17,9:21,BRONX,10453.0,40.855370,-73.904730,"(40.85537, -73.90473)",WALTON AVENUE,EAST 181 STREET,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN
477716,3624063,2/28/17,9:30,BRONX,10467.0,40.867836,-73.864770,"(40.867836, -73.86477)",NaN,NaN,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN
477717,3624686,2/28/17,9:30,BROOKLYN,11238.0,40.677956,-73.970230,"(40.677956, -73.97023)",NaN,NaN,...,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN,PASSING OR LANE USAGE IMPROPER,UNSPECIFIED,NaN,NaN,NaN
477718,3623810,2/28/17,9:30,NaN,NaN,40.713634,-73.945950,"(40.713634, -73.94595)",DEVOE STREET,NaN,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,TURNING IMPROPERLY,UNSPECIFIED,NaN,NaN,NaN
477719,3623316,2/28/17,9:30,NaN,NaN,40.711227,-73.728260,"(40.711227, -73.72826)",HEMPSTEAD AVENUE,NaN,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
477720,3624110,2/28/17,9:35,BRONX,10462.0,40.833890,-73.854660,"(40.83389, -73.85466)",OLMSTEAD AVENUE,WESTCHESTER AVENUE,...,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,TURNING IMPROPERLY,UNSPECIFIED,NaN,NaN,NaN
477721,3623964,2/28/17,9:36,STATEN ISLAND,10308.0,40.542423,-74.145920,"(40.542423, -74.14592)",HYLAN BOULEVARD,NELSON AVENUE,...,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,FOLLOWING TOO CLOSELY,UNSPECIFIED,NaN,NaN,NaN
477722,3623970,2/28/17,9:40,MANHATTAN,10032.0,40.838497,-73.939835,"(40.838497, -73.939835)",WEST 165 STREET,SAINT NICHOLAS AVENUE,...,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN,FOLLOWING TOO CLOSELY,UNSPECIFIED,NaN,NaN,NaN
477723,3623878,2/28/17,9:41,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY,GRAND CONCOURSE,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,DRIVER INATTENTION/DISTRACTION,NaN,NaN,NaN
477724,3623629,2/28/17,9:44,MANHATTAN,10017.0,40.755190,-73.971220,"(40.75519, -73.97122)",EAST 49 STREET,3 AVENUE,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NaN,NaN,NaN
477725,3623553,2/28/17,9:45,BROOKLYN,11214.0,40.603090,-73.992620,"(40.60309, -73.99262)",BAY PARKWAY,84 STREET,...,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,PASSING OR LANE USAGE IMPROPER,UNSPECIFIED,NaN,NaN,NaN
477726,3623471,2/28/17,9:45,QUEENS,11101.0,40.736828,-73.937454,"(40.736828, -73.937454)",NaN,NaN,...,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,BACKING UNSAFELY,UNSPECIFIED,NaN,NaN,NaN
477727,3623371,2/28/17,9:45,QUEENS,11365.0,40.736010,-73.787415,"(40.73601, -73.787415)",NaN,NaN,...,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,ACCELERATOR DEFECTIVE,UNSPECIFIED,NaN,NaN,NaN
477728,3623651,2/28/17,9:45,QUEENS,11434.0,40.668320,-73.781370,"(40.66832, -73.78137)",NaN,NaN,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
477729,3623667,2/28/17,9:45,NaN,NaN,40.707077,-73.954025,"(40.707077, -73.954025)",BROADWAY,HOOPER STREET,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,FAILURE TO YIELD RIGHT-OF-WAY,NaN,NaN,NaN,NaN
477730,3623907,2/28/17,9:53,BRONX,10467.0,40.884342,-73.886765,"(40.884342, -73.886765)",MOSHOLU PARKWAY,WEST GUN HILL ROAD,...,TAXI,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
477731,3623313,2/28/17,9:57,MANHATTAN,10027.0,40.814037,-73.948364,"(40.814037, -73.948364)",NaN,NaN,...,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN,AGGRESSIVE DRIVING/ROAD RAGE,NaN,NaN,NaN,NaN

In [25]:
df_location = vc[['UNIQUE KEY','BOROUGH']]
df_vehicletype = vc[['VEHICLE 1 TYPE','VEHICLE 2 TYPE','VEHICLE 3 TYPE','VEHICLE 4 TYPE','VEHICLE 5 TYPE']]
df_vehicletype = df_vehicletype.notnull()
df_vehicletype = df_vehicletype.applymap(lambda x:1 if x else 0)
df_modified = pd.concat([df_location,df_vehicletype],axis=1)

df_modified

,UNIQUE KEY,BOROUGH,VEHICLE 1 TYPE,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE
0,3146911,QUEENS,1,0,0,0,0
1,3146180,NaN,1,0,0,0,0
2,3146384,BROOKLYN,1,1,0,0,0
3,3146013,BROOKLYN,1,1,0,0,0
4,3146120,NaN,1,1,0,0,0
5,3145968,BROOKLYN,1,1,1,1,0
6,3146102,QUEENS,1,1,1,0,0
7,3146344,BROOKLYN,1,1,0,0,0
8,3145900,MANHATTAN,1,0,0,0,0
9,3145960,BROOKLYN,1,1,0,0,0
10,3145881,MANHATTAN,1,1,0,0,0
11,3145986,BROOKLYN,1,1,0,0,0
12,3146152,MANHATTAN,1,1,0,0,0
13,3146083,QUEENS,1,1,0,0,0
14,3146907,QUEENS,1,1,0,0,0
15,3146379,BROOKLYN,1,1,0,0,0
16,3145969,BROOKLYN,1,1,0,0,0
17,3145897,MANHATTAN,1,1,0,0,0
18,3146046,QUEENS,1,1,0,0,0
19,3147994,MANHATTAN,1,1,0,0,0
20,3146493,QUEENS,1,1,0,0,0
21,3146456,NaN,1,0,0,0,0
22,3145971,BROOKLYN,1,1,0,0,0
23,3146219,NaN,1,1,0,0,0
24,3146111,QUEENS,1,1,0,0,0
25,3145959,BROOKLYN,1,1,0,0,0
26,3146864,NaN,1,1,0,0,0
27,3145945,NaN,1,1,0,0,0
28,3146383,BROOKLYN,1,1,0,0,0
29,3145997,NaN,1,1,0,0,0
...,...,...,...,...,...,...,...
477702,3623575,QUEENS,1,1,0,0,0
477703,3623270,NaN,1,1,0,0,0
477704,3623428,NaN,1,1,0,0,0
477705,3623572,NaN,1,0,0,0,0
477706,3623293,NaN,1,1,0,0,0
477707,3623380,NaN,1,1,0,0,0
477708,3624185,NaN,1,1,0,0,0
477709,3624415,MANHATTAN,1,1,0,0,0
477710,3623564,NaN,1,1,0,0,0
477711,3623976,MANHATTAN,0,0,0,0,0
477712,3624334,BROOKLYN,1,0,0,0,0
477713,3624057,BRONX,1,1,1,1,1
477714,3623350,BRONX,1,1,0,0,0
477715,3623329,BRONX,1,0,0,0,0
477716,3624063,BRONX,1,0,0,0,0
477717,3624686,BROOKLYN,1,0,0,0,0
477718,3623810,NaN,1,0,0,0,0
477719,3623316,NaN,1,1,0,0,0
477720,3624110,BRONX,1,1,0,0,0
477721,3623964,STATEN ISLAND,1,1,0,0,0
477722,3623970,MANHATTAN,1,0,0,0,0
477723,3623878,NaN,1,0,0,0,0
477724,3623629,MANHATTAN,1,0,0,0,0
477725,3623553,BROOKLYN,1,1,0,0,0
477726,3623471,QUEENS,1,1,0,0,0
477727,3623371,QUEENS,1,1,0,0,0
477728,3623651,QUEENS,1,0,0,0,0
477729,3623667,NaN,1,0,0,0,0
477730,3623907,BRONX,1,1,0,0,0
477731,3623313,MANHATTAN,1,0,0,0,0

In [3]:
df_total_collision = df_modified.groupby('BOROUGH').sum()
df_total_collision

,UNIQUE KEY,VEHICLE 1 TYPE,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE
BOROUGH,,,,,,
BRONX,155980649490,45599,36972,2587,625,173
BROOKLYN,354261399441,104174,86799,6592,1612,461
MANHATTAN,281571102651,82801,69483,2525,501,129
QUEENS,302922936974,89140,76178,5918,1420,314
STATEN ISLAND,47557828564,13943,11600,924,165,32

In [7]:
df_total_collision['MORE_VEHICLES_INVOLVED'] = df_total_collision['VEHICLE 4 TYPE'] + df_total_collision['VEHICLE 5 TYPE'] 
df_total_collision['THREE_VEHICLES_INVOLVED'] =  df_total_collision['VEHICLE 3 TYPE']-df_total_collision['VEHICLE 4 TYPE']
df_total_collision['TWO_VEHICLES_INVOLVED'] =  df_total_collision['VEHICLE 2 TYPE']-df_total_collision['VEHICLE 3 TYPE']
df_total_collision['ONE_VEHICLE_INVOLVED'] =  df_total_collision['VEHICLE 1 TYPE']-df_total_collision['VEHICLE 2 TYPE']
df_total_collision = df_total_collision[['ONE_VEHICLE_INVOLVED','TWO_VEHICLES_INVOLVED','THREE_VEHICLES_INVOLVED','MORE_VEHICLES_INVOLVED']]
df_total_collision

,ONE_VEHICLE_INVOLVED,TWO_VEHICLES_INVOLVED,THREE_VEHICLES_INVOLVED,MORE_VEHICLES_INVOLVED
BOROUGH,,,,
BRONX,8627,34385,1962,798
BROOKLYN,17375,80207,4980,2073
MANHATTAN,13318,66958,2024,630
QUEENS,12962,70260,4498,1734
STATEN ISLAND,2343,10676,759,197

In [9]:
df_total_collision.to_csv("Solution_q1_p2.csv",index=True,sep=',')